.container {
    background-color: #7FBEFF;
    width: 84rem;
    margin: 2rem auto;
    text-align: center;
}

.add-expense--btn {
    background-color: #BC00FF;
    font-size: 1.8rem;
    color: white;
    padding: 1.2rem 2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}