.header-container {
    padding: 0.2rem 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0FD37;
}

.header-logo {

}

.header-items__container ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}